<h2>estas en inicio</h2>
    {{#if status}}
        <h4>Te logueaste!</h4>
        <p>solo capos</p>
        
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="620" height="415"
                src="https://www.youtube.com/embed/vu_eq9IPtCg?autoplay=1&mute=1">
            </iframe> 
        </div>
    
    {{else}}
    <h4>No te logueaste</h4>
    {{/if}}
